.pySpace {
  padding-top: 114px;
  padding-bottom: 97px;
}

.butterflyright {
  top: 50%;
  right: 10%;
}
.butterflyleft {
  top: 50%;
  left: 10%;
}

.support_contain h2{
  font-size: 35px;
}
.support_contain p{
  font-size: 25px;

}
 
@media (max-width: 768px) {
  .pySpace {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .support_contain h2{
    font-size: 27px;
  }
  .support_contain p{
    font-size: 16px;
  
  }
}
